.raidobox{display:inline-block}
.raidobox input{display:none}
.raidobox .box{display:inline-block;position:relative;width:10px;height:10px;margin-top:-2px;border:1px solid #999;border-radius:50%;box-sizing:border-box;vertical-align:middle}
.raidobox input:checked + .box{border-color:#38b7ea}
.raidobox input:checked + .box::before{display:block;content:'';position:absolute;top:2px;left:2px;width:4px;height:4px;background:#38b7ea;border-radius:50%}

.editor_section{position:relative;width:810px;padding:80px;margin:0 auto;overflow-x:hidden}
.editor_section.mobile{width:320px}
.editor_section .slider_wrap{width:calc(200% + 80px)}
.editor_section .slider_wrap > *{float:left;width:calc(50% - 40px)}
.editor_section .slider_wrap > *:first-child{margin-right:80px}
.editor_section[data-status="editor"] .slider_wrap{transform:translateX(0)}
.editor_section[data-status="options"] .slider_wrap{max-height:800px;transform:translateX(calc(-50% - 80px))}
.editor_section[data-status="options"] ~ .btn_bottom:not(.btn_change_area),
.editor_section[data-status="options"] .btn_content_list{display:none}

.content_area{color:#555;font-size:16px;line-height:1.6}
.content_area *{word-wrap:break-word}
.content_area *[contentEditable]{outline:0}
.content_area *[contentEditable]:empty::after{display:inline;content:"Add text";color:#999;cursor:text}
.content_area > *{margin-bottom:5px}
.content_area .btn{display:block;width:100%;padding:16px 0;background:#f4f4f4;color:#555;border-radius:5px;font-size:14px;text-align:center}
.content_area .btn .icon{width:30px;margin:-2px 10px 0 0;vertical-align:middle}
.content_area .btn .path{fill:#555}
.content_area .item{position:relative;padding:10px}
.content_area .item:hover{background:#f4f4f4}
.content_area .title{height:50px;padding:0 10px;margin-bottom:50px;border-bottom:1px solid #e5e5e5;font-size:24px;font-weight:bold;line-height:50px}
.content_area .title:empty::after{display:inline;content:"Title";color:#999}
.content_area .sticker{display:block;max-width:100px;margin:0 auto}
.content_area .item_list{padding-left:20px}
.content_area ul.item_list,
.content_area ul.item_list li{list-style:disc}
.content_area ol[type="i"].item_list{padding-left:40px}
.content_area .item_list li:empty::after{display:inline;content:"Add Text";color:#999;cursor:text}
.content_area .item_quote{text-align:center}
.content_area .item_quote .text{font-size:18px}
.content_area .item_quote .text:empty::after{content:"Add Quote"}
.content_area .item_quote .text:not(:empty)::before{content:open-quote}
.content_area .item_quote .text:not(:empty)::after{content:close-quote}
.content_area .item_quote .author{font-size:14px}
.content_area .item_quote .author:empty::after{content:"Author"}
.content_area .item_quote .author:not(:empty)::before{content:'- '}
.content_area .item_quote .author:not(:empty)::after{content:' -'}
.content_area .item_table_area{overflow-y:auto}
.content_area .item_table{width:100%}
.content_area .item_table .size_auto{width:auto}
.content_area .item_table .size_600{width:600px}
.content_area .item_table .size_500{width:500px}
.content_area .item_table .size_400{width:400px}
.content_area .item_table .size_300{width:300px}
.content_area .item_table .size_200{width:200px}
.content_area .item_table .size_100{width:100px}
.content_area .item_table,
.content_area .item_table th,
.content_area .item_table td{padding:5px;border:1px solid #555;table-layout:fixed}
.content_area .item_table th[contentEditable]:empty::after,
.content_area .item_table td[contentEditable]:empty::after{display:none}
.content_area .item_table caption:empty::after{display:inline;content:"Table name"}






.options_area{transform:translateX(0)}
.options_area .row{padding:10px 0}
.options_area .name{margin-bottom:10px;font-size:14px;font-weight:bold}
.options_area .cover_ima_area{display:inline-block;width:300px;height:150px;border:1px solid #999;border-radius:5px;overflow:hidden;vertical-align:bottom}
.options_area .cover_ima_area input{display:none}
.options_area .cover_ima_area .img{width:100%;height:100%}
.options_area .btn_remove_cover{width:80px;height:30px;margin-left:10px;background:#eee;color:#555;border-radius:5px;vertical-align:bottom}
.options_area .textarea{min-width:100%;max-width:100%;min-height:120px;padding:10px;border:1px solid #999;border-radius:5px;box-sizing:border-box}
.options_area .raidobox{margin:10px 10px 0 0}
.options_area .btn_submit{display:block;width:120px;height:50px;margin:20px auto 0;background:#38b7ea;color:#fff;border:0;border-radius:5px;font-size:18px}





.btn_bottom{position:fixed;bottom:20px;width:50px;height:50px;background:#fff;border:1px solid #999;border-radius:50%;text-align:center;line-height:48px;z-index:110}
.btn_bottom .icon{width:30px;margin-top:-2px;vertical-align:middle}
.btn_bottom .icon .path{fill:#555}
.btn_media{left:20px}
.btn_lang{left:90px}
.btn_mod{right:230px}
.btn_mod .mod_mobile{display:none}
.btn_mod.act .mod_mobile{display:block}
.btn_mod.act .mod_pc{display:none}
.btn_history{right:160px}
.btn_change_area{right:20px;width:120px;background:#38b7ea;color:#fff;border:0;border-radius:5px;font-size:18px}
.btn_change_area::after{display:inline;content:'NEXT'}
.btn_change_area.act::after{content:'PREV'}

.btn_del_content{position:absolute;top:0;right:50px;width:24px;visibility:hidden}
.btn_del_content.act{visibility:visible}
.btn_del_content .path{fill:#f00}

.btn_content_list{display:block;position:fixed;top:190px;left:50%;width:20px;height:20px;background:#fff;color:transparent;border:1px solid #999;font-size:0;box-sizing:border-box;transform:translateX(-485px)}
.btn_content_list.hidden{display:none}
.btn_content_list::after{display:block;content:'';position:absolute;top:3px;left:8px;width:2px;height:12px;background:#999}
.btn_content_list::before{display:block;content:'';position:absolute;top:8px;left:3px;width:12px;height:2px;background:#999}

.btn_add_media_list{display:block;position:relative;width:50px;height:50px;background:#fff;color:transparent;border:1px solid #999;font-size:0;border-radius:50%;box-sizing:border-box}
.btn_add_media_list::after{display:block;content:'';position:absolute;top:14px;left:23px;width:2px;height:20px;background:#999}
.btn_add_media_list::before{display:block;content:'';position:absolute;top:23px;left:14px;width:20px;height:2px;background:#999}

.btn_chang_lang{width:50px;height:50px;background:#fff;color:#555;border:1px solid #999;border-radius:50%;font-size:14px;font-weight:bold;text-align:center;line-height:48px;box-sizing:border-box}
.btn_chang_lang.act{background:#38b7ea;color:#fff;border-color:#38b7ea}

.file_uploader{display:none}
.pop{display:none;position:fixed;z-index:100}
.pop.act{display:block}
.pop_bg{top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,0.5)}
.pop_loding{top:50%;left:0;width:100%;height:30px;color:#fff;font-size:20px;font-weight:bold;text-align:center;line-height:30px;transform:translateY(-50%)}
.pop_loding::after{display:block;content:'Loding';animation:loding 1s ease infinite}

.pop_content_list{top:220px;left:50%;width:200px;padding:10px;background:#fff;border-radius:5px;box-shadow:0 0 5px rgba(0,0,0,0.25);box-sizing:border-box;transform:translateX(-485px)}
.pop_content_list .btn{display:block;width:100%;height:40px;padding:5px 0;margin-top:-2px;text-align:left;line-height:30px;box-sizing:border-box}
.pop_content_list .btn:hover{background:#f4f4f4}
.pop_content_list .btn .icon{display:inline-block;width:30px;margin-right:10px;vertical-align:middle}
.pop_content_list .icon .path{fill:#555}

.pop_options{position:absolute;top:0;left:50px;height:30px;background:#fff;border-radius:5px;box-shadow:0 0 5px rgba(0,0,0,0.25)}
.pop_options .icon{height:20px;vertical-align:middle}
.pop_options .icon .path{fill:#555}
.pop_options .item{display:block;float:left;height:30px;padding:0 8px;border-right:1px solid #ccc;line-height:30px}
.pop_options .select_area{position:relative;padding:0}
.pop_options .select_area::before{display:block;content:'';position:absolute;top:50%;right:6px;width:4px;height:4px;margin-top:-4px;border:1px solid transparent;border-bottom-color:#555;border-right-color:#555;transform:rotate(45deg)}
.pop_options .select{height:30px;padding:0 20px 0 10px;background:transparent;border:0;line-height:30px;-moz-appearance:none;-webkit-appearance:none}

.pop_media{display:block;top:0;left:0;bottom:0;width:300px;padding-bottom:100px;background:#fff;border-right:1px solid #999;overflow-y:scroll;transform:translateX(-301px)}
.pop_media.act{transform:translateX(0)}
.pop_media .media_list{display:flex;flex-wrap:wrap}
.pop_media .btn_add_media{flex:1 0 120px;margin:10px}
.pop_media .btn_add_media .img{max-width:100%;;max-height:100px}
.pop_media .btn_add_media:empty{height:0}
.pop_media .btn_add_media_list{margin:50px auto 0}

.pop_sticker{display:block;top:0;right:0;bottom:0;width:300px;background:#fff;border-left:1px solid #999;overflow-y:scroll;transform:translateX(301px)}
.pop_sticker.act{transform:translateX(0)}
.pop_sticker .media_list{display:flex;flex-wrap:wrap}
.pop_sticker .btn{flex:1 0 70px;;margin:10px}
.pop_sticker .btn:empty{height:0}

.pop_lang{display:block;left:90px;bottom:20px;width:120px;right:120px}
.pop_lang.hidden{display:none}
.pop_lang .btn_chang_lang{position:absolute;left:0;bottom:0;transform:translate(0, 0)}
.pop_lang.act .btn_chang_lang:nth-child(1){transform:translate(0, -60px)}
.pop_lang.act .btn_chang_lang:nth-child(2){transform:translate(60px, -60px)}
.pop_lang.act .btn_chang_lang:nth-child(3){transform:translate(60px, 0)}

.pop_history{bottom:90px;right:185px;width:150px;padding:10px;border:1px solid #999;border-radius:5px;transform:translateX(50%)}
.pop_history::before{display:block;content:'';position:absolute;top:100%;left:50%;width:0;height:0;margin-left:-5px;border:5px solid transparent;border-top-color:#fff;z-index:20}
.pop_history::after{display:block;content:'';position:absolute;top:100%;left:50%;width:0;height:0;margin-left:-6px;border:6px solid transparent;border-top-color:#999;z-index:10}
.pop_history .btn_temp{width:100%;padding:3px 0;font-size:14px;text-align:center}
.pop_history .btn_temp:hover{background:#f4f4f4}

@keyframes loding{
	25%{content:'Loding.'}
	50%{content:'Loding..'}
	75%{content:'Loding...'}
	100%{content:'Loding....'}
}

@media all and (max-width:70em){
.editor_section{width:100%;padding:40px 20px;box-sizing:border-box}
.editor_section.mobile{width:100%}
.editor_section .slider_wrap{width:calc(200% + 40px)}
.editor_section .slider_wrap > *{float:left;width:calc(50% - 20px)}
.editor_section .slider_wrap > *:first-child{margin-right:40px}
.editor_section[data-status="editor"] .slider_wrap{transform:translateX(0)}
.editor_section[data-status="options"] .slider_wrap{max-height:800px;transform:translateX(calc(-50% - 20px))}

.options_area .cover_ima_area{display:block;width:200px;height:100px}
.options_area .btn_remove_cover{display:block;margin-left:0;margin-top:10px}
.options_area .textarea{min-height:80px}

.btn_bottom{bottom:10px;width:40px;height:40px;line-height:38px}
.btn_bottom .icon{width:26px}
.btn_bottom .icon .path{fill:#555}
.btn_media{left:60px}
.btn_lang{left:110px}
.btn_mod{display:none}
.btn_history{right:60px}
.btn_change_area{right:10px}
.btn_change_area::before{display:block;content:'';position:absolute;top:19px;left:10px;width:20px;height:2px;background:#fff}
.btn_change_area::after{display:block;content:'';position:absolute;top:14px;left:16px;width:8px;height:8px;border:2px solid transparent;border-top-color:#fff;border-right-color:#fff;transform:rotate(45deg)}
.btn_change_area.act::after{content:'';left:10px;transform:rotate(225deg)}

.btn_del_content{position:fixed;top:auto;bottom:10px;right:110px;width:40px;height:40px;background:#fff;border:1px solid #f00;border-radius:50%}
.btn_del_content .icon{width:26px}

.btn_content_list{top:auto;bottom:10px;left:10px;width:40px;height:40px;border-radius:50%;transform:translateX(0)}
.btn_content_list::after{top:9px;left:18px;height:20px}
.btn_content_list::before{top:18px;left:9px;width:20px}

.btn_chang_lang{width:40px;height:40px;line-height:38px}


.pop_lang{display:block;left:110px;bottom:10px;width:40px;right:190px}
.pop_lang.act .btn_chang_lang:nth-child(1){transform:translate(0, -50px)}
.pop_lang.act .btn_chang_lang:nth-child(2){transform:translate(0, -100px)}
.pop_lang.act .btn_chang_lang:nth-child(3){transform:translate(0, -150px)}
}