@import "./variables";

.dragon-editor {
    position: relative;
    width: 100%;
    padding: 10px 10px 50px;
    background: #fff;
    border-radius: 10px;
    line-height: 1.6;
    box-sizing: border-box;

    &.--comment {
        padding: 10px;
    }

    // reset css
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    dl,
    dd,
    ol,
    ul,
    fieldset,
    legend,
    figure,
    menu {
        margin: 0;
        padding: 0;
        border: 0;
    }

    table,
    th,
    td {
        border-spacing: 0;
        border-collapse: collapse;
    }

    ol,
    ul,
    li {
        list-style: none;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 1em;
        font-weight: normal;
    }

    input,
    textarea,
    select,
    button {
        margin: 0;
        padding: 0;
        border-radius: 0;
        outline: 0;
        vertical-align: middle;
    }

    a,
    button,
    input[type="submit"],
    input[type="button"],
    input[type="reset"] {
        border: 0;
        background: transparent;
        cursor: pointer;
    }

    img {
        border: 0;
        vertical-align: top;
    }

    // global styles
    .d-align-left {
        text-align: left;
    }

    .d-align-center {
        text-align: center;
    }

    .d-align-right {
        text-align: right;
    }

    .d-deco-bold {
        font-weight: bold;
    }

    .d-deco-italic {
        font-style: italic;
    }

    .d-deco-underline {
        text-decoration: underline;

        &.d-deco-through {
            text-decoration: underline line-through;
        }
    }

    .d-deco-through {
        text-decoration: line-through;

        &.d-deco-underline,
        &.d-deco-link {
            text-decoration: line-through underline;
        }
    }

    .d-deco-code {
        padding: 2px 5px;
        margin: 0 2px;
        background: #f1f1f1;
        color: #c52e2e;
        border-radius: 2px;
        font-family: Inconsolata, monospace, sans-serif;
    }

    .d-deco-link {
        color: inherit;
    }

    .d-h1 {
        font-size: 2em;
    }

    .d-h2 {
        font-size: 1.5em;
    }

    .d-h3 {
        font-size: 1.17em;
    }

    .d-h4 {
        font-size: 1em;
    }

    .d-h5 {
        font-size: 0.83em;
    }

    .d-h6 {
        font-size: 0.67em;
    }

    .d-row-block {
        padding-left: 50px;
        border-radius: 5px;
        background: transparent;
        transition: background 0.25s ease;

        &:hover {
            background: #fafafa;
        }
    }

    // 텍스트 블럭
    .d-text-block {
        cursor: text;
        outline: 0;

        &:empty {
            min-height: 1.6em;

            &::after {
                display: inline;
                content: "Write text";
                color: #ccc;
            }
        }
    }

    // 리스트 블럭
    .d-ol-block {
        padding-left: 30px;
        cursor: text;
        list-style: decimal;

        .d-li-item {
            list-style: inherit;
            outline: 0;

            &:empty {
                min-height: 1.6em;

                &::after {
                    display: inline;
                    content: "Write text";
                    color: #ccc;
                }
            }
        }
    }

    // 이미지 블럭
    .d-image-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 5px;

        &.d-align-left {
            align-items: flex-start;
        }

        &.d-align-right {
            align-items: flex-end;
        }

        @for $i from 1 through 20 {
            &.--#{"" + $i} .d-image-area {
                width: (5% * $i);
            }
        }

        .d-image-area {
            position: relative;

            .d-img {
                width: 100%;
                height: auto;
            }

            .d-btn-size-left,
            .d-btn-size-right {
                position: absolute;
                top: 50%;
                width: 8px;
                height: 60px;
                background: #fff;
                border: 2px solid #555;
                border-radius: 6px;
                cursor: col-resize;
            }

            .d-btn-size-left {
                left: 0;
                transform: translate(-50%, -50%);
            }

            .d-btn-size-right {
                right: 0;
                transform: translate(50%, -50%);
            }
        }

        .d-caption {
            width: 100%;
            color: #ccc;
            font-size: 1rem;
            cursor: text;
            outline: 0;

            &:empty {
                min-height: 1.6em;

                &::after {
                    display: inline;
                    content: "Write caption";
                }
            }
        }
    }

    // 메뉴 블럭
    .d-block-list {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100px;
        padding: 5px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        opacity: 0;
        visibility: hidden;
        transition: all 0.25s ease;

        &.--active {
            opacity: 1;
            visibility: visible;
        }

        .d-btn-block {
            display: flex;
            align-items: center;
            column-gap: 10px;
            font-size: 14px;

            .d-icon {
                width: 20px;
            }
        }
    }

    // left menu css
    .d-left-menu {
        display: flex;
        column-gap: 4px;
        position: absolute;
        top: 0;
        left: 10px;
        opacity: 0;
        visibility: hidden;
        transition: all 0.25s ease;
        z-index: 100;

        &.--active {
            opacity: 1;
            visibility: visible;
        }

        .d-add-block,
        .d-control-block {
            position: relative;
            width: 20px;
            height: 20px;
        }

        .d-btn-menu-pop,
        .d-btn-block-pop {
            position: relative;
            width: 20px;
            height: 20px;
            border-radius: 5px;
            vertical-align: top;

            &:hover {
                background: #e9e9e9;

                &::before,
                &::after {
                    background: #757575;
                }
            }
        }

        .d-btn-menu-pop {
            &::before,
            &::after {
                display: block;
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                background: #837c7c;
                border-radius: 2px;
                transform: translate(-50%, -50%);
            }

            &::before {
                width: 12px;
                height: 2px;
            }

            &::after {
                width: 2px;
                height: 12px;
            }
        }

        .d-btn-block-pop {
            &::before {
                display: block;
                content: "";
                position: absolute;
                top: 4px;
                left: 6px;
                width: 3px;
                height: 3px;
                background: #837c7c;
                border-radius: 50%;
                box-shadow: 0 5px 0 #837c7c, 0 10px 0 #837c7c, 5px 0 0 #837c7c, 5px 5px 0 #837c7c, 5px 10px 0 #837c7c;
            }
        }
    }

    // style menu css
    .d-style-menu {
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        left: 50%;
        height: 30px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        opacity: 0;
        visibility: hidden;
        transform: translateX(calc(-50% + 25px));
        transition: all 0.25s ease;
        z-index: 100;

        &.--active {
            opacity: 1;
            visibility: visible;
        }

        .d-column {
            display: flex;
            column-gap: 2px;
            position: relative;
            padding: 5px;
            border-right: 1px solid #eee;
            box-sizing: border-box;

            &:last-child {
                border-right: 0;
            }

            &:empty {
                display: none;
            }
        }

        .d-btn {
            width: 20px;
            height: 20px;
            padding: 2px;

            &.--active {
                fill: blue;
            }

            &.--hug {
                width: auto;
                min-width: 60px;
            }
        }

        .d-child-list {
            display: none;
            flex-direction: column;
            row-gap: 4px;
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            padding: 4px 0;
            background: #fff;
            border: 1px solid #f1f1f1;
            border-top: 0;
            border-radius: 0 0 5px 5px;

            &.--active {
                display: flex;
            }
        }
    }

    // link boc css
    .d-link-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 10px;
        position: absolute;
        top: 0;
        left: 0;
        width: 250px;
        height: 30px;
        padding: 0 5px;
        background: #fff;
        border-radius: 5px;
        box-sizing: border-box;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        opacity: 0;
        visibility: hidden;
        transition: all 0.25s ease;

        &.--active {
            opacity: 1;
            visibility: visible;
        }

        .d-input {
            flex: 1;
            border: 0;
            border-bottom: 2px solid #f1f1f1;
        }

        .d-btn-link {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;

            .d-icon {
                height: 16px;
            }
        }
    }
}
