.dragon-editor {
    position: relative;
    width: 100%;
    padding: 10px 10px 50px;
    line-height: 1.6;

    // reset css
    h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dd, ol, ul, fieldset, legend, figure, menu {
        margin: 0;
        padding: 0;
        border: 0;
    }

    table, th, td {
        border-spacing: 0;
        border-collapse: collapse
    }

    ol, ul, li {
        list-style: none
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: 1em;
        font-weight: normal
    }

    input, textarea, select, button {
        margin: 0;
        padding: 0;
        border-radius: 0;
        outline: 0;
        vertical-align: middle
    }

    a:link, a:visited, a:hover, a:active {
        text-decoration: none
    }

    a, button, input[type="submit"], input[type="button"], input[type="reset"] {
        border: 0;
        background: transparent;
        cursor: pointer
    }

    img {
        border: 0;
        vertical-align: top
    }

    // global styles
    .d-align-left {
        text-align: left;
    }

    .d-align-center {
        text-align: center;
    }

    .d-align-right {
        text-align: right;
    }

    .d-deco-bold {
        font-weight: bold;
    }

    .d-deco-italic {
        font-style: italic;
    }

    .d-deco-underline {
        text-decoration: underline;

        &.d-deco-through {
            text-decoration: underline line-through;
        }
    }

    .d-deco-through {
        text-decoration: line-through;

        &.d-deco-underline {
            text-decoration: line-through underline;
        }
    }

    // left menu css
    .d-left-menu {
        display: flex;
        column-gap: 4px;
        position: absolute;
        top: 0;
        left: 10px;
        opacity: 0;
        visibility: hidden;
        transition: all 0.25s ease;

        &.--active {
            opacity: 1;
            visibility: visible;
        }

        .d-add-block,
        .d-control-block {
            position: relative;
            width: 20px;
            height: 20px;
        }

        .d-btn-menu-pop,
        .d-btn-block-pop {
            position: relative;
            width: 20px;
            height: 20px;
            border-radius: 5px;
            vertical-align: top;

            &:hover {
                background: #e9e9e9;

                &::before,
                &::after {
                    background: #757575;
                }
            }
        }

        .d-btn-menu-pop {
            &::before,
            &::after {
                dispaly: bock;
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                background: #837c7c;
                border-radius: 2px;
                transform: translate(-50%, -50%)
            }

            &::before {
                width: 12px;
                height: 2px;
            }

            &::after {
                width: 2px;
                height: 12px;
            }
        }

        .d-btn-block-pop {
            &::before {
                display: block;
                content: "";
                position: absolute;
                top: 4px;
                left: 6px;
                width: 3px;
                height: 3px;
                background: #837c7c;
                border-radius: 50%;
                box-shadow: 0 5px 0 #837c7c, 0 10px 0 #837c7c, 5px 0 0 #837c7c, 5px 5px 0 #837c7c, 5px 10px 0 #837c7c;
            }
        }
    }

    .d-row-block {
        padding-left: 50px;
        border-radius: 5px;
        background: transparent;
        transition: background 0.25s ease;

        &:hover {
            background: #fafafa;
        }
    }

    .d-text-block {
        cursor: text;
        outline: 0;

        &:empty {
            min-height: 1.6em;
        }
    }

    .d-block-list {
        display: none; // TODO : 작성
    }

    // style menu css
    .d-style-menu {
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        left: 60px;
        height: 30px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        opacity: 0;
        visibility: hidden;
        transition: all 0.25s ease;

        &.--active {
            opacity: 1;
            visibility: visible;
        }

        .d-column {
            display: flex;
            column-gap: 2px;
            padding: 5px;
            border-right: 1px solid #eee;
            box-sizing: border-box;

            &:last-child {
                border-right: 0;
            }
        }

        .d-btn {
            width: 20px;
            height: 20px;
            padding: 2px;

            &.--active {
                fill: blue;
            }
        }
    }
}
