.editor-item {
    margin-bottom: 10px;
    outline: 0;

    &[data-type="text"] {
        &:empty {
            min-height: 1.7em;

            &::after {
                display: inline;
                content: "Add text";
                color: #ccc;
                cursor: text;
            }
        }
    }

    &[data-type="image"] {
        font-size: 0;

        .editor-size {
            display: inline-block;
            position: relative;
            width: 100%;
        }

        @for $i from 1 through 14 {
            .editor-size[data-width="#{50 * $i}"] {
                max-width: 50px * $i;
            }
        }

        .editor-caption {
            padding: 5px;
            color: #999;
            font-size: 12px;
            outline: 0;

            &:empty {
                &::after {
                    display: inline;
                    content: "Add caption";
                    color: #ccc;
                    cursor: text;
                }
            }
        }

        .img {
            width: 100%;
        }

        .editor-btn-resize {
            position: absolute;
            top: 50%;
            width: 5px;
            height: 30%;
            background: rgba(0, 0, 0, 0.5);
            color: transparent;
            border: 1px solid #fff;
            border-radius: 10px;
            font-size: 0;
            transform: translateY(-50%);
            cursor: col-resize;
            box-sizing: border-box;
            z-index: 10;

            &.--left {
                left: 5px;
            }

            &.--right {
                right: 5px;
            }
        }
    }

    &[data-type="emoticon"] {
        font-size: 0;
        text-align: center;

        .img,
        svg {
            display: inline-block;
            width: 150px;
            vertical-align: top;
        }
    }

    &[data-type="ul"] {
        li {
            position: relative;
            padding-left: 15px;
            margin-bottom: 5px;
            outline: 0;

            &::before {
                position: absolute;
                content: "";
                top: 11px;
                left: 0;
                width: 5px;
                height: 5px;
                background: #333;
                border-radius: 50%;
            }

            &:last-child {
                border-bottom: 0;
            }

            &:empty {
                min-height: 1.7em;

                &::after {
                    display: inline;
                    content: "Add text";
                    color: #ccc;
                    cursor: text;
                }
            }
        }
    }

    &[data-type="ol"] {
        padding-left: 20px;
        list-style-type: decimal;

        &[type="a"] {
            list-style-type: lower-alpha;
        }

        &[type="A"] {
            list-style-type: upper-alpha;
        }

        &[type="i"] {
            padding-left: 40px;
            list-style-type: lower-roman;
        }

        &[type="I"] {
            padding-left: 40px;
            list-style-type: upper-roman;
        }

        li {
            margin-bottom: 5px;
            outline: 0;
            list-style-type: inherit;

            &:last-child {
                border-bottom: 0;
            }

            &:empty {
                min-height: 1.7em;

                &::after {
                    display: inline;
                    content: "Add text";
                    color: #ccc;
                    cursor: text;
                }
            }
        }
    }

    &[data-type="quote"] {
        text-align: center;

        p {
            outline: 0;
        }

        .text {
            font-weight: bold;

            &:empty {
                &::before {
                    display: inline;
                    content: "“Quote”";
                    color: #ccc;
                }

                &::after {
                    display: none;
                }
            }

            &::before {
                display: inline;
                content: "“";
            }

            &::after {
                display: inline;
                content: "”";
            }
        }

        .author {
            color: #666;
            font-size: 12px;

            &:empty {
                &::before {
                    display: inline;
                    content: "- Author -";
                    color: #ccc;
                }

                &::after {
                    display: none;
                }
            }

            &::before {
                display: inline;
                content: "- ";
            }

            &::after {
                display: inline;
                content: " -";
            }
        }
    }

    &[data-type="table"] {
        position: relative;
        width: 100%;

        .scroll {
            width: 100%;
            overflow-x: auto;
        }

        .table {
            width: 100%;
            border-collapse: separate;
            table-layout: fixed;

            @for $i from 1 through 14 {
                col[data-size="#{50 * $i}"] {
                    width: 50px * $i;
                }
            }

            caption {
                outline: 0;
                text-align: left;

                &:empty::before {
                    display: inline;
                    content: "Table name";
                    color: #ccc;
                }
            }

            tr {
                &:first-child {
                    th,
                    td {
                        border-top-width: 1px;
                    }

                    th:first-child,
                    td:first-child {
                        border-top-left-radius: 2px;
                        overflow: hidden;
                    }

                    th:last-child,
                    td:last-child {
                        border-top-right-radius: 2px;
                        overflow: hidden;
                    }
                }

                &:last-child {
                    th:first-child,
                    td:first-child {
                        border-bottom-left-radius: 2px;
                        overflow: hidden;
                    }

                    th:last-child,
                    td:last-child {
                        border-bottom-right-radius: 2px;
                        overflow: hidden;
                    }
                }

                th,
                td {
                    height: 1.7em;
                    padding: 5px;
                    border: 0px solid #ccc;
                    border-right-width: 1px;
                    border-bottom-width: 1px;
                    word-wrap: break-word;
                    word-break: keep-all;
                    white-space: pre-wrap;
                    outline: 0;

                    &:first-child {
                        border-left-width: 1px;
                    }
                }

                th {
                    background: #f1f1f1;
                }
            }
        }
    }

    &[data-type="codeblock"] {
        border-radius: 2px;

        &::before {
            display: block;
            content: attr(data-lang);
            padding: 5px;
            color: #7b7b7b;
            font-size: 12px;
            text-align: right;
        }

        code {
            display: block;
            padding: 5px;
            font-family: Inconsolata, sans-serif;
            word-wrap: break-word;
            word-break: keep-all;
            white-space: pre-wrap;
            outline: 0;

            &:empty::after {
                display: inline;
                content: "Write Code";
                color: #ccc;
            }
        }

        /* codeblock theme */
        &[data-theme="default"] {
            background: #f0f0f0;
            color: #444;

            &::before {
                color: #c1c1c1;
            }

            .hljs-subst {
                color: #444;
            }

            .hljs-comment {
                color: #888;
            }

            .hljs-keyword,
            .hljs-attribute,
            .hljs-selector-tag,
            .hljs-meta-keyword,
            .hljs-doctag,
            .hljs-name {
                font-weight: bold;
            }

            .hljs-type,
            .hljs-string,
            .hljs-number,
            .hljs-selector-id,
            .hljs-selector-class,
            .hljs-quote,
            .hljs-template-tag,
            .hljs-deletion {
                color: #880000;
            }

            .hljs-title,
            .hljs-section {
                color: #880000;
                font-weight: bold;
            }

            .hljs-regexp,
            .hljs-symbol,
            .hljs-variable,
            .hljs-template-variable,
            .hljs-link,
            .hljs-selector-attr,
            .hljs-selector-pseudo {
                color: #bc6060;
            }

            .hljs-literal {
                color: #78a960;
            }

            .hljs-built_in,
            .hljs-bullet,
            .hljs-code,
            .hljs-addition {
                color: #397300;
            }

            .hljs-meta {
                color: #1f7199;
            }

            .hljs-meta-string {
                color: #4d99bf;
            }

            .hljs-emphasis {
                font-style: italic;
            }

            .hljs-strong {
                font-weight: bold;
            }
        }

        &[data-theme="vs2015"] {
            background: #1e1e1e;
            color: #dcdcdc;

            .hljs-keyword,
            .hljs-literal,
            .hljs-symbol,
            .hljs-name {
                color: #569cd6;
            }

            .hljs-link {
                color: #569cd6;
                text-decoration: underline;
            }

            .hljs-built_in,
            .hljs-type {
                color: #4ec9b0;
            }

            .hljs-number,
            .hljs-class {
                color: #b8d7a3;
            }

            .hljs-string,
            .hljs-meta-string {
                color: #d69d85;
            }

            .hljs-regexp,
            .hljs-template-tag {
                color: #9a5334;
            }

            .hljs-subst,
            .hljs-function,
            .hljs-title,
            .hljs-params,
            .hljs-formula {
                color: #dcdcdc;
            }

            .hljs-comment,
            .hljs-quote {
                color: #57a64a;
                font-style: italic;
            }

            .hljs-doctag {
                color: #608b4e;
            }

            .hljs-meta,
            .hljs-meta-keyword,
            .hljs-tag {
                color: #9b9b9b;
            }

            .hljs-variable,
            .hljs-template-variable {
                color: #bd63c5;
            }

            .hljs-attr,
            .hljs-attribute,
            .hljs-builtin-name {
                color: #9cdcfe;
            }

            .hljs-section {
                color: gold;
            }

            .hljs-emphasis {
                font-style: italic;
            }

            .hljs-strong {
                font-weight: bold;
            }

            .hljs-bullet,
            .hljs-selector-tag,
            .hljs-selector-id,
            .hljs-selector-class,
            .hljs-selector-attr,
            .hljs-selector-pseudo {
                color: #d7ba7d;
            }

            .hljs-addition {
                display: inline-block;
                width: 100%;
                background-color: #144212;
            }

            .hljs-deletion {
                display: inline-block;
                width: 100%;
                background-color: #600;
            }
        }

        &[data-theme="androidstudio"] {
            background: #282b2e;
            color: #a9b7c6;

            .hljs-number,
            .hljs-literal,
            .hljs-symbol,
            .hljs-bullet {
                color: #6897bb;
            }

            .hljs-keyword,
            .hljs-selector-tag,
            .hljs-deletion {
                color: #cc7832;
            }

            .hljs-variable,
            .hljs-template-variable,
            .hljs-link {
                color: #629755;
            }

            .hljs-comment,
            .hljs-quote {
                color: #808080;
            }

            .hljs-meta {
                color: #bbb529;
            }

            .hljs-string,
            .hljs-attribute,
            .hljs-addition {
                color: #6a8759;
            }

            .hljs-section,
            .hljs-title,
            .hljs-type {
                color: #ffc66d;
            }

            .hljs-name,
            .hljs-selector-id,
            .hljs-selector-class {
                color: #e8bf6a;
            }

            .hljs-emphasis {
                font-style: italic;
            }

            .hljs-strong {
                font-weight: bold;
            }
        }

        &[data-theme="monokai"] {
            background: #272822;
            color: #ddd;

            .hljs-tag,
            .hljs-keyword,
            .hljs-selector-tag,
            .hljs-literal,
            .hljs-strong,
            .hljs-name {
                color: #f92672;
            }

            .hljs-code {
                color: #66d9ef;
            }

            .hljs-class .hljs-title {
                color: white;
            }

            .hljs-attribute,
            .hljs-symbol,
            .hljs-regexp,
            .hljs-link {
                color: #bf79db;
            }

            .hljs-string,
            .hljs-bullet,
            .hljs-subst,
            .hljs-title,
            .hljs-section,
            .hljs-emphasis,
            .hljs-type,
            .hljs-built_in,
            .hljs-builtin-name,
            .hljs-selector-attr,
            .hljs-selector-pseudo,
            .hljs-addition,
            .hljs-variable,
            .hljs-template-tag,
            .hljs-template-variable {
                color: #a6e22e;
            }

            .hljs-comment,
            .hljs-quote,
            .hljs-deletion,
            .hljs-meta {
                color: #75715e;
            }

            .hljs-keyword,
            .hljs-selector-tag,
            .hljs-literal,
            .hljs-doctag,
            .hljs-title,
            .hljs-section,
            .hljs-type,
            .hljs-selector-id {
                font-weight: bold;
            }
        }
    }

    &[data-type="youtube"] {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
        z-index: 10;

        .editor-iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 0;
        }
    }

    &[data-type="codepen"] {
        position: relative;

        &.--act::before {
            display: block;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 20;
        }

        .editor-iframe {
            display: block;
            position: relative;
            width: 100%;
            border: 0;
            z-index: 10;
        }

        .editor-btn-resize {
            position: absolute;
            left: 50%;
            bottom: 10px;
            width: 100px;
            height: 6px;
            background: rgba(0, 0, 0, 0.5);
            color: transparent;
            border: 1px solid #fff;
            border-radius: 10px;
            font-size: 0;
            transform: translateX(-50%);
            cursor: row-resize;
            box-sizing: border-box;
            z-index: 30;
        }
    }

    &[data-type="linkbox"] {
        text-align: center;

        .editor-linkbox {
            display: inline-block;
            width: 300px;
            background: #fff;
            color: #333;
            border: 1px solid #ccc;
            border-radius: 2px;
            overflow: hidden;
        }

        .editor-linkbox-img {
            position: relative;
            width: 100%;
            height: 0;
            padding-bottom: 50%;
            border-bottom: 1px solid #ccc;
            overflow: hidden;

            .editor-img {
                position: absolute;
                top: 50%;
                left: 0;
                width: 100%;
                transform: translateY(-50%);
            }
        }

        .editor-linkbox-text {
            padding: 10px;
            font-size: 14px;
            text-align: left;

            .editor-title {
                @include ellipsis;
            }

            .editor-description {
                color: #999;
                @include ellipsis;
            }

            .editor-domain {
                color: #3f80e9;
                font-size: 12px;
                text-align: right;
            }
        }
    }
}

@mixin mobile-item {
    .editor-item {
        &[data-type="linkbox"] {
            .editor-linkbox {
                width: 100%;
                font-size: 0;
            }

            .editor-linkbox-img {
                display: inline-block;
                width: 100px;
                height: 100px;
                padding-bottom: 0;
                border-bottom: 0;
                border-right: 1px solid #ccc;
                vertical-align: middle;
            }

            .editor-linkbox-text {
                display: inline-block;
                width: calc(100% - 101px);
                box-sizing: border-box;
                vertical-align: middle;
            }
        }
    }
}
