.editor-pop-lang {
    position: absolute;
    bottom: 100%;
    left: 50%;
    width: 100px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    font-size: 0;
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, 0);
    transition: all 0.3s ease;

    &.--act {
        opacity: 1;
        visibility: visible;
        transform: translate(-50%, -10px);
    }

    @for $i from 3 through 10 {
        &[data-length="#{$i}"] {
            width: (50px * $i);
        }
    }

    .editor-btn-lang {
        width: 50px;
        height: 30px;
        color: #333;
        border-right: 1px solid #e8e9ea;
        text-align: center;
        line-height: 30px;
        box-sizing: border-box;

        &:last-child {
            border-right: 0;
        }

        &.--act {
            color: #3f80e9;
            font-weight: bold;
        }
    }
}

.editor-list-pop {
    position: absolute;
    width: 240px;
    height: 200px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    overflow: hidden;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: all 0.3s ease;

    &.--act {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
}

.editor-pop-emoticon {
    top: 0;
    right: 100%;
}

.editor-pop-folder {
    bottom: 100%;
    right: 100%;
    margin-right: -30px;
}

.editor-list-media {
    font-size: 12px;
}

.editor-pop-linkbox {
    position: fixed;
    width: 220px;
    height: 32px;
    padding: 5px 10px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: all 0.3s ease;
    z-index: 20;

    &.--act {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    &.--wrong {
        border-color: #ff0000;
    }

    &[data-type="new"] {
        .--del {
            display: none;
        }
    }

    &[data-type="del"] {
        .--new {
            display: none;
        }
    }

    .editor-input {
        float: left;
        width: 176px;
        height: 100%;
        background: transparent;
        border: 0;
        border-bottom: 1px solid #ccc;

        &::placeholder {
            color: #ddd;
        }
    }

    .editor-link {
        float: left;
        width: 176px;
        height: 20px;
        color: #3f80e9;
        line-height: 20px;
        @include ellipsis;
    }

    .editor-btn {
        float: right;
        width: 12px;
        margin-top: 4px;

        &.--ing{
            position:relative;
            height:12px;
            animation: loding 2s infinite ease;

            &::before{
                display:block;
                content:"";
                position:absolute;
                top:0;
                left:0;
                width:4px;
                height:4px;
                background:#333;
                border-radius:50%;
                z-index:10;
            }

            &::after{
                display:block;
                content:"";
                position:absolute;
                bottom:0;
                right:0;
                width:4px;
                height:4px;
                background:#333;
                border-radius:50%;
                z-index:10;
            }

            .icon{
                display:none;
            }
        }
    }
}

@keyframes loding{
    0%{
        transform:rotate(0);
    }

    25%{
        transform:rotate(90deg);
    }

    50%{
        transform:rotate(180deg);
    }

    75%{
        transform:rotate(270deg);
    }

    100%{
        transform:rotate(360deg);
    }
}
