@use "./base";
@use "./block" as *;
@use "./style" as *;

.dragon-editor-viewer {
    width: 100%;
    line-height: 1.6;
    box-sizing: border-box;

    @include blockStyle("false");
    @include NodeStyle;
}
