@use "./base";
@use "./block" as *;
@use "./style" as *;

.dragon-editor-viewer {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    height: 100%;
    line-height: 1.6;
    box-sizing: border-box;

    @include blockStyle("false");
    @include NodeStyle;
}
