.editor-dragon {
    position: relative;
    margin-bottom: 50px;

    &[data-layout="container"] {
        height: 600px;
        padding: 100px 0 50px;
        border: 1px solid #ccc;
        border-radius: 2px;

        .editor-content {
            height: 100%;
            overflow-y: auto;
        }

        .editor-menu-block {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 38px;
            transform: none;
            border-bottom: 1px solid #ccc;

            .editor-btn {
                float: left;
                margin: 5px;
            }
        }

        .editor-pop-option {
            position: absolute;
            top: 39px;
            left: 0;
            width: 100%;
            border: 0;
            border-bottom: 1px solid #ccc;
            opacity: 1;
            visibility: visible;

            .editor-btn-area.--noline {
                border-right: 1px solid #ccc;
            }
        }

        .editor-menu-bottom {
            position: absolute;
        }
    }

    *::after,
    *::before {
        font: inherit;
    }
}

.editor-content {
    max-width: 700px;
    min-height: 300px;
    margin: 0 auto;
    font-size: inherit;
    line-height: 1.7;
    word-break: break-word;
    transition: max-width 0.3s ease;

    &.--mobile {
        max-width: 320px;
        font-size: inherit;

        @include mobile-item;
    }

    a {
        cursor: text;
    }

    *[contenteditable="true"] code {
        padding: 2px 5px;
        margin: 0 5px;
        background: #f1f1f1;
        color: #c52e2e;
        border-radius: 2px;
        font-family: Inconsolata, sans-serif;
    }

    @each $size in $font-size-list {
        *[data-fontsize="#{'' + $size}"] {
            font-size: #{$size + "em"};
        }
    }

    @each $color in $color-list {
        *[data-color="#{'' + $color}"] {
            color: $color;
        }
    }

    @for $i from 1 through 3 {
        *[data-depth="#{'' + $i}"] {
            margin-left: (20px * $i);
        }
    }

    *[data-align="left"] {
        text-align: left;
    }

    *[data-align="center"] {
        text-align: center;
    }

    *[data-align="right"] {
        text-align: right;
    }

    *[data-bold="true"] {
        font-weight: bold;
    }

    *[data-italic="true"] {
        font-style: italic;
    }

    *[data-underline="true"] {
        text-decoration: underline;
    }

    *[data-strikethrough="true"] {
        text-decoration: line-through;
    }
}

.editor-uploader {
    display: none;
}

@mixin mobile-container {
    .editor-dragon {
        position: relative;

        &[data-layout="container"] {
            .editor-pop-option {
                position: absolute;
            }
        }
    }

    .editor-content {
        padding: 100px 20px 50px;
    }
}
