@import "./controlbar.scss";

.de-wrapper {
    background: #fff;
    font-size: 14px;
    line-height: 1.6;

    // reset css
    & {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        blockquote,
        pre,
        dl,
        dd,
        ol,
        ul,
        fieldset,
        legend,
        figure,
        menu {
            margin: 0;
            padding: 0;
            border: 0;
        }

        table,
        th,
        td {
            border-spacing: 0;
            border-collapse: collapse;
        }

        ol,
        ul,
        li {
            list-style: none;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-size: 1em;
            font-weight: normal;
        }

        button {
            padding: 0;
            background: transparent;
            border: 0;
            border-radius: 0;
            cursor: pointer;
        }
    }

    &.de-editor {
        position: relative;
        padding-top: 39px;
    }

    &.de-viewer,
    .de-block-list {
        display: grid;
        gap: 4px;
        padding: 20px;
    }

    @include Controlbar;

    // 블럭 뎁스
    .de-block {
        @for $i from 1 through 5 {
            &[data-depth="#{$i}"] {
                padding-left: $i * 30px;
            }
        }
    }

    // 블럭 스타일
    .de-text-block {
        min-height: 1.6em;
        outline: 0;

        &:empty:hover::before,
        &:empty:focus::before {
            display: inline;
            content: "Type a paragraph";
            color: #ccc;
            cursor: text;
        }
    }
}
