.dragon-editor {
  position: relative;
  width: 100%;
  line-height: 1.6;
}
.dragon-editor h1, .dragon-editor h2, .dragon-editor h3, .dragon-editor h4, .dragon-editor h5, .dragon-editor h6, .dragon-editor p, .dragon-editor blockquote, .dragon-editor pre, .dragon-editor dl, .dragon-editor dd, .dragon-editor ol, .dragon-editor ul, .dragon-editor fieldset, .dragon-editor legend, .dragon-editor figure, .dragon-editor menu {
  margin: 0;
  padding: 0;
  border: 0;
}
.dragon-editor table, .dragon-editor th, .dragon-editor td {
  border-spacing: 0;
  border-collapse: collapse;
}
.dragon-editor ol, .dragon-editor ul, .dragon-editor li {
  list-style: none;
}
.dragon-editor h1, .dragon-editor h2, .dragon-editor h3, .dragon-editor h4, .dragon-editor h5, .dragon-editor h6 {
  font-size: 1em;
  font-weight: normal;
}
.dragon-editor input, .dragon-editor textarea, .dragon-editor select, .dragon-editor button {
  margin: 0;
  padding: 0;
  border-radius: 0;
  outline: 0;
  vertical-align: middle;
}
.dragon-editor a:link, .dragon-editor a:visited, .dragon-editor a:hover, .dragon-editor a:active {
  text-decoration: none;
}
.dragon-editor a, .dragon-editor button, .dragon-editor input[type=submit], .dragon-editor input[type=button], .dragon-editor input[type=reset] {
  border: 0;
  background: transparent;
  cursor: pointer;
}
.dragon-editor img {
  border: 0;
  vertical-align: top;
}
.dragon-editor .d-text-block {
  cursor: text;
  outline: 0;
}
.dragon-editor .d-text-block:empty {
  min-height: 1.6em;
}
