# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://help.github.com/actions/language-and-framework-guides/publishing-nodejs-packages

name: Publish

on:
    release:
        types: [created]

jobs:
    publish:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            packages: write
        steps:
            - uses: actions/checkout@v3
            - uses: oven-sh/setup-bun@v2
            - run: bun install --frozn-lockfile
            - run: bun run dev:prepare
            - run: bun run prepack
            - run: bun publish
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
